.card {
  position: relative;
}
.card > .tag {
  background-color: black;
  color: white;
  font-size: 14px;
  padding: 1px 6px;
  text-align: center;
  width: 20px;
  border-radius: 4px;
}
.card > .name {
  position: absolute;
  top: 0;
  left: 0;
  color: transparent;
}
.card > .condition {
  position: absolute;
  top: 10%;
  right: -4px;
}

.card > .condition .condition-NM {
  background-color: black;
  color: white;
}

.card > .condition .condition-EX {
  background-color: black;
  color: white;
}

.card > .condition .condition-GD {
  background-color: black;
  color: white;
}

.card > .condition .condition-LP {
  background-color: black;
  color: white;
}

.card > .condition .condition-PL {
  background-color: black;
  color: white;
}

.card > .condition .condition-PO {
  background-color: black;
  color: white;
}

.card > .language {
  position: absolute;
  top: 20%;
  right: -4px;
}

.card > .price {
  position: absolute;
  bottom: 30%;
  right: -4px;
  background-color: #ebce7d;
  color: black;
  border: 1px solid black;
}

.card > .foil {
  position:absolute;
  top:0;
  left:0;
  background: linear-gradient(143deg, rgba(255,0,0,0.4), rgba(231,0,255,0.4), rgba(17,0,255,0.4), rgba(0,255,255,0.4), rgba(35,255,0,0.4), rgba(255,255,0,0.4), rgba(255,0,0,0.4));
  background-size: 150% 150%;
  background-position: 0px 0px;
  height:170px;
  width:120px;
}
